.project-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.project-card {
    padding: 30px;
    width: 80%;
}

.project-card:hover {
    cursor: pointer;
    /* border: 1px solid aqua; */
    border-radius: 8px;
    background-color: rgba(173, 169, 235, 0.1);
    box-shadow: 6px 6px 30px 1px rgba(173, 169, 235, 0.1);
    backdrop-filter: blur(30px);
    transition: all 0.2s ease-in-out;
}

.tech-stack {
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tech {
    padding: 12px;
    border-radius: 15px;
    border: 0.05px solid green;
    background-color: rgba(0, 128, 0, 0.521);
}

.title-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon:hover {
    color: aqua;
    transition: all 0.2s ease-in;
}